div{
    text-align: left;
    font-family: Crimson;
    font-style: normal;
    margin: 10px;
    background-color: #F7D4D4;
}

.title{
    font-family: Crimson;
    font-size: 80px;
    text-shadow: -6px 2px 0 #460808;
    color:#FFF4F4;
    background-color: #E79898;
    height: 100px;
    text-align: center;
}

h1{
    font-family: Crimson;
    color: #460808;
    text-align: left;
}

#invasivespecies{
    font-family: Crimson;
    font-weight: 900;
}


#invasivespecies:hover:after {

    content: " An invasive species is an introduced, nonnative organism (disease, parasite, plant, or animal) that begins to spread or expand its range from the site of its original introduction and that has the potential to cause harm to the environment, the economy, or to human health.";
    font-weight: 400;
    color: #880909;
    font-style: italic;
}

#M {
  font-weight: 800;

}

#M:hover {
    background: url("../images/Ladybird.JPG");
    float: left;
    display: block;
    width: 474px;
    height: 271px;
}

#uppercase {
    text-transform: uppercase;
}

img{
    padding: 20px 20px;
}
